# Data files
*.hd5f
*.hdf5
*.h5
data/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
notebooks/*ssins*ipynb

# Claude
.claudeignore
CLAUDE.md

# IDE
.vscode/
.idea/

# OS
.DS_Store
